* {
  margin: 0;
  padding: 0;
}

.top {
  background-color: #222222;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 19px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top {
  outline: 2px solid red;
}

.nav_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav_element_logo {
  padding-right: 41px;
}

.nav_element_search {
  width: 26px;
  height: 27px;
  padding-top: 10px;
}

.nave_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 2px solid red;
}

.nave_bar_burger_menu {
  padding-top: 10px;
  padding-right: 33px;
}

.nave_bar_account {
  padding-top: 5px;
  padding-right: 33px;
}

.nave_bar_basket {
  padding-top: 5px;
}

.top_info {
  background-color: #F1E4E6;
}

.top_info_box {
  min-height: 764px;
  min-width: 1600px;
}

/*.top_info_banner{
    background-image: url(image/men.png);
    background-position: left;
}*/
.top_heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  line-height: 58px;
  padding-left: 91px;
}

.top_info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_info_text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.top_info_text::before {
  content: url(image/column.svg);
  position: absolute;
  display: block;
  width: 12px;
  height: 92px;
  display: block;
  top: -3px;
  left: -26px;
  padding-left: 63px;
}

.text_bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.text_central {
  color: #222222;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-size: 32px;
  line-height: 38px;
}

.text_color {
  color: #F16D7F;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.advertising_info_parent {
  /*position: relative;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
}

.advertising_info {
  margin-top: 30px;
  margin-bottom: 96px;
  /*width: 100%;*/
}

.advertising_img {
  width: 100%;
}

.advertising_text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /*color: #FFFFFF;*/
  position: absolute;
  /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.price {
  color: #F16D7F;
}

/*.card_text{
   
}*/
.heading_card_box {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.card_box_heading_text {
  text-align: center;
}

.card_box_product {
  /*display: flex;
    justify-content: space-between;*/
  border: 2px solid red;
}

.card_box_product_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_box_product_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_box_button {
  width: 138px;
  height: 43px;
  border: 1px solid red;
}

.card_product_button {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.bottom_info {
  background-color: #222224;
}
/*# sourceMappingURL=style.css.map */